alembic==1.13.3
bcrypt==4.0.1
email-validator==2.2.0
fastapi==0.115.4
httpx==0.27.2
passlib[bcrypt]==1.7.4
pdfplumber==0.11.4
psycopg[binary]==3.2.3
pydantic-settings==2.6.1
python-docx==1.1.2
python-jose[cryptography]==3.3.0
python-multipart==0.0.12
pytest==8.3.3
SQLAlchemy==2.0.36
uvicorn[standard]==0.32.0
